html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #EEE;
}

#wrapper {
    background-color: #EEE;
}

#game-header {
    background-color: #009CD6;
    color: #eee;
    font-family: 'Comic Sans MS';
    padding: 20px 30px;
    font-size: 50px;
}

#tool-bar {
    float: right;
    padding: 10px;
    display: none;
    border-radius: .25em;
    background-color: #eee;
}

#timer {
    font-size: 30px;
    color: black;
}

#board {
    width: 90%;
    display: none;
    margin: 10px auto;
}

#level-select-container {
    background:
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
        radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
        linear-gradient(0deg, #7DFC28 0%, #7DFC28 20%, #7DFC28 30%, #7DFC28 40%, #7DFC28 50%, #7DFC28 60%, #7DFC28 70%, #7DFC28 80%, #7DFC28 90%, #7DFC28 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #7DFC28;
}

.contentContainer {
    padding: 1.5em .75em;
    border-radius: .5em;
    margin: 2em 4em;
    font-size: 25px;
    font-family: 'Comic Sans MS';
    color: #FF7985;
    text-align: center;
}

#puzzle-pic-container {
    padding: 0em 0em 1em 0em;
}

.puzzle-img-container {
    padding: 1em;
}

.puzzle-img {
    height: 250px;
    width: 300px;
    border: 10px solid #14BECC;
}

.puzzle-img:hover {
    cursor: pointer;
    border: 20px solid #ccc;
}

#level-select-container {
    padding-bottom: 1em;
}

.level-button {
    background-color: #14BECC;
    font-family: verdana;
    border: none;
    border-radius: 0em;
    margin: .5em;
}

.level-button:hover {
    background-color: #3D9299;
}

#easy-button {
    padding: .5em 1em;
}

#medium-button {
    padding: .75em 1em;
}

#hard-button {
    padding: 1em 3em;
}

#insane-button {
    padding: 1.25em 4em;
}

#nightmare-button {
    padding: 1.5em 5em;
}


#board {
    background-color: blue;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
    display: none;
    color: white;
}

.finished-img {
    height: 75%;
    width: 75%;
    border: 15px solid #14BECC;
}

.instructions {
    padding-bottom: 1em;
}

.hidden {
    display: none;
}

/* Styles for mobile screen size */
@media (min-width: 992px) and (max-width: 1200px) {
    .puzzle-img {
        height: 200px;
        width: 225px;
        border: 10px solid #14BECC;
    }

}

/* Styles for mobile screen size */
@media (min-width: 770px) and (max-width: 992px) {
    .puzzle-img {
        height: 200px;
        width: 250px;
        border: 10px solid #14BECC;
    }

}

/* Styles for mobile screen size */
@media screen and (max-width: 770px) {
    .contentContainer {
        margin: 1.5em;
    }
    .puzzle-img {
        height: 175px;
        width: 200px;
        border: 10px solid #14BECC;
    }
}
